@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
}

/*FONDO DEL INGRESO DE DATOS DEL CV*/

section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    
    background: url('../assets/FondoDatos.jpg')no-repeat;
    background-position: center;
    background-size: cover;
}

/*FORMULARIO DE INGRESO DE DATOS*/

.form-box{
    position: relative;
    width: 400px;
    height: 430px;
    margin-left: -45%;
    margin-top: 20%;
    background: transparent;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    backdrop-filter: blur(80px);
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    margin-top: -10%;
    font-size: 2em;
    color: #000;
    text-align: center;
}

/* INGRESO DEL NOMBRE */

.inputbox {
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #000;
  }
  
.inputbox label, .inputboxsecondname label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #000;
    font-size: 1em;
    pointer-events: none;
    transition: 0.5s;
}
  
.inputbox input, .inputboxsecondname input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: #000;
}
  
.inputbox ion-icon, .inputboxsecondname ion-icon {
    position: absolute;
    right: 8px;
    color: #000;
    font-size: 1.2em;
    top: 50%;
    transform: translateY(-50%);
}
  
.inputbox input:focus ~ label,
.inputbox input:valid ~ label,
.inputboxsecondname input:focus ~ label,
.inputboxsecondname input:valid ~ label {
    top: -0.3rem;
    transform: translateY(-50%);
}


/*CSS PARA EL IMPUT BOX DEL APELLIDO*/

.inputboxsecondname {
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #000;
    bottom: 85px;
    margin-left: 120%;
  }
  


button{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #000;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    margin: 0.5rem;
    margin-left: 240%;
}

button span{
    margin: 0.5rem;
}

.register{
    font-size: .9em;
    color: #000;
    text-align: center;
    margin: 25px 0 10px;
}
.register p a{
    text-decoration: none;
    color: #000;
    font-weight: 600;
}
.register p a:hover{
    text-decoration: underline;
}

.inicio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 3rem;
    align-items: center;
    margin-left: 40%;
}

.avance p {
    margin: 1rem;
}

.avance button{
    width: 10rem;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    margin: 0.5rem;
    
}

.avance a{
    text-decoration: none;
    color: palevioletred;
}

.logo{
    width: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.selectbox {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 5px;
  width: 300px;
  margin: 10px auto;
}

/* Estilos para el ícono */
ion-icon {
  margin-right: 10px;
  font-size: 20px;
  color: #666;
}

/* Estilos para el label */
label {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

/* Estilos para el combo box (select) */
select {
  flex: 1;
  margin-left: 10px;
  padding: 5px;
  font-size: 16px;
  border: none;
  outline: none;
  background-color: #f5f5f5;
  border-radius: 5px;
  cursor: pointer;
}

/* Estilos para las opciones del combo box */
option {
  padding: 5px;
}


.selectbox {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 5px;
    width: 300px;
    margin: 10px auto;
  }
  
  /* Estilos para el ícono */
  ion-icon {
    margin-right: 10px;
    font-size: 20px;
    color: #666;
  }
  

  /* Estilos para el combo box (select) */
  select {
    flex: 1;
    margin-left: 10px;
    padding: 5px;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: #f5f5f5;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Estilos para las opciones del combo box */
  option {
    padding: 5px;
  }

  /* Estilos para el contenedor del input y select a la izquierda */
.selectbox-left {
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 10px;
}