.full-screen-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("../assets/floresHome.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* Add any additional styles as needed */
  }
  
  .content{
    display: flex;
    flex-direction: column;
    padding-top: 10rem;
    padding-left: 2rem;
  }

  .content p{
    width: 40rem;
    justify-content: center;
    margin: 1rem;
  }

  .content button{
    width: 10rem;
    margin: 1rem;
  }
  
  .title2{
    color: 
    #Ea537d;
  }